.footer {
  box-shadow: 0 -5px 0px #a3e0d670;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 100%;
  background-color: #c5ede6;
}

.blurFooter {
  box-shadow: 0 -10px 8px #c5ede6;
}

.routes ul,
.socialMedia ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.routes li {
  margin: 0 1rem;
}

.routes a {
  text-decoration: none;
  color: #0e7664;
  font-weight: 600;
}

.routes button {
  font: inherit;
  background-color: transparent;
  border: 1px solid #155662;
  color: #155662;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.routes a:hover {
  color: #16937c;
}

.routes button:hover {
  background-color: #16937c;
  color: #155662;
}

.socialMedia li {
  margin: 0 .5rem;
  font-size: 16px;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
    padding: 10px;
  }

  .footer div {
    margin: 5px 0px;
  }

  .copyright {
    font-size: 12px;
  }
}