.profile {
  margin: 3rem auto;
  text-align: center;
}

.profile h1 {
  font-size: 5rem;
}

@media (max-width: 767px) {
  .profile {
    margin: 2rem auto;
  }

  .profile h1 {
    font-size: 2rem;
  }
}